In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import os
import seaborn
import japanize_matplotlib
import cryptography

In [2]:
def get_connection():
    engine = create_engine(f"mysql+pymysql://loganalysis:{os.getenv('LOGANALYSIS_PASSWORD')}@localhost/primary_app_db", pool_recycle=3600)
    return engine.connect()

In [3]:
con = get_connection()

In [31]:
con.execute("""
drop table if exists users2;
""")
con.execute("""
create table users2 as
select
  *,
  (right(email, 11) = "example.com" or
   right(email, 11) = "ukabu.co.jp") as is_test
from
  users;  
""")

In [14]:
con2.cursor().execute("""
drop table if exists users2;
""")
con2.cursor().execute("""
create table users2 as select * from users;
""")

71

In [1]:
pd.read_sql("""
select * from primary_app_db.users2
""", con)

NameError: name 'pd' is not defined