In [1]:
import pandas as pd

/Users/hotoku/.pyenv/versions/3.9.5/envs/global/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
df = pd.DataFrame(dict(x=range(10), y=[1,2]*5))

In [5]:
df

   x  y
0  0  1
1  1  2
2  2  1
3  3  2
4  4  1
5  5  2
6  6  1
7  7  2
8  8  1
9  9  2

In [21]:
df.groupby("y", as_index=False).cumsum()

    x
0   0
1   1
2   2
3   4
4   6
5   9
6  12
7  16
8  20
9  25

`cumsum`では、グループ化するのに使った列は消えちゃうんだね・・不便じゃ