In [1]:
import pandas as pd

/Users/hotoku/.pyenv/versions/3.9.5/envs/global/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
df = pd.DataFrame(dict(
    x=[1,2],
    y=[[3,4], [5,6]]
))
df

   x       y
0  1  [3, 4]
1  2  [5, 6]

In [4]:
df.explode("y")

   x  y
0  1  3
0  1  4
1  2  5
1  2  6

普通の挙動。indexが重複しているのに注意。空の配列があった場合にどうなるか

In [9]:
df2 = pd.DataFrame(dict(
    x=[1,2],
    y=[[],[3,4]]
))
df2

   x       y
0  1      []
1  2  [3, 4]

In [10]:
df2.explode("y")

   x    y
0  1  NaN
1  2    3
1  2    4