In [1]:
import pandas as pd

In [2]:
dic = {
    ("a", 1): {
        "val": 10
    },
    ("b", 2): {
        "val": 100
    }    
}

In [5]:
pd.DataFrame.from_dict(dic, orient="index")

     val
a 1   10
b 2  100

In [7]:
pd.DataFrame.from_dict(dic)

      a    b
      1    2
val  10  100