In [1]:
import pandas as pd

In [3]:
x = range(10)
y = range(10)
df = pd.DataFrame(dict(x=x,y=y))

In [4]:
df

   x  y
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6
7  7  7
8  8  8
9  9  9

In [12]:
df.index = [[1 for i in range(10)], list(range(10))]
df.columns = [[1,1], ["x","y"]]

In [13]:
df

     1
     x  y
1 0  0  0
  1  1  1
  2  2  2
  3  3  3
  4  4  4
  5  5  5
  6  6  6
  7  7  7
  8  8  8
  9  9  9