# query

DataFrame.queryで、列を使って行の抽出条件が書ける

In [1]:
import pandas as pd

In [26]:
df = pd.DataFrame(dict(
    x = [1,2,3],
    y = [4,5,6],
    z = [7,8,9],
    s = ["hoge", "fuga", "piyo"]
))

In [27]:
df.query("x==1")

   x  y  z     s
0  1  4  7  hoge

In [28]:
a = 3

環境中の値を @ で参照可能

In [29]:
df.query("x==@a")

   x  y  z     s
2  3  6  9  piyo

In [30]:
df.query("x*4==z")

   x  y  z     s
1  2  5  8  fuga

In [31]:
df.query("s.str.startswith('ho')")

   x  y  z     s
0  1  4  7  hoge

In [32]:
df.query("s.str.match('.*o.*')")

   x  y  z     s
0  1  4  7  hoge
2  3  6  9  piyo

In [33]:
df.query("s.str.match('^h')")

   x  y  z     s
0  1  4  7  hoge