In [4]:
import sqlite3
import pandas as pd
import numpy as np
import string

In [10]:
df = pd.DataFrame(dict(
    col1=range(10),
    col2=np.random.random(10),
    col3=list(string.ascii_letters[:10])
))

In [16]:
with sqlite3.connect("temp.sqlite") as con:
    df.to_sql("df", con, if_exists="replace")

In [18]:
!echo "select * from df" | sqlite3 temp.sqlite

0|0|0.351334286025985|a
1|1|0.953256933363109|b
2|2|0.943233147759279|c
3|3|0.173713532048045|d
4|4|0.290816062710577|e
5|5|0.230718348717673|f
6|6|0.750416424016219|g
7|7|0.504406705028372|h
8|8|0.940023725628795|i
9|9|0.655167820600665|j