PythonからMySQLを使う例

## 準備
- MySQLがインストール済み
- MySQLの中に、DB primary_app_dbが作成済み
- primary_app_dbに対してcreate table, selectができるユーザーloganalysisが作成済み
- loganalysisのパスワードが環境変数MYSQL_PASSWORDに設定済み

In [9]:
from sqlalchemy import create_engine
import pymysql
from yuzu import cache, clear_cache
import os
import cryptography
import pandas as pd

In [3]:
def get_connection():
    engine = create_engine(f"mysql+pymysql://loganalysis:{os.getenv('MYSQL_PASSWORD')}@localhost/primary_app_db", pool_recycle=3600)
    return engine.connect()

In [4]:
con = get_connection()

In [5]:
@cache(ignore_args=[1])
def query(sql, con):
    return pd.read_sql(sql, con)

In [6]:
con.execute("""
drop table if exists sample_table;
""")
con.execute("""
create table sample_table as
select
  1 as x
""")

In [11]:
sample_table = (
    query("""
    select * from sample_table
    """, con)
)

In [12]:
sample_table.head(1)

   x
0  1