In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/hotoku/.config/gcloud/legacy_credentials/dtws_yasunori_horikoshi@oaklawn.co.jp/adc.json"

In [2]:
from google.cloud import bigquery

client = bigquery.Client(
    project="olm-user-yasunori-horikoshi",
    location="asia-northeast1"
)

In [17]:
import pandas as pd
df = pd.DataFrame.from_dict({
    "hoge": {
        "num": 1,
        "s": "a"
    },
    "fuga": {
        "num": 2,
        "s": "b"
    }
}, orient="index")
df.columns = ["num", "s"]
df.index.name = "name"
df

      num  s
name
hoge    1  a
fuga    2  b

In [20]:
job_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField("name", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("num", bigquery.enums.SqlTypeNames.INTEGER),
        bigquery.SchemaField("s", bigquery.enums.SqlTypeNames.STRING)
    ],
    write_disposition="WRITE_TRUNCATE"
)
table_ref = "temp.temp20201207"
job = client.load_table_from_dataframe(
    df,
    table_ref,
    job_config=job_config
)
job.result()

In [19]:
sql = f"select * from {table_ref}"
ret = client.query(sql).to_dataframe()
ret

   name  num  s
0  hoge    1  a
1  fuga    2  b

**NOTE**
- indexも、ロードの対象になる。
- indexをschemaに指定しなかった場合、"index"という名の列が自動で追加される