In [1]:
import numpy as np
import pandas as pd

In [2]:
dat = pd.DataFrame(dict(
    x=np.arange(3)
))

In [3]:
dat.x[0] = 1 # これはOK
dat

   x
0  1
1  1
2  2

In [4]:
dat.y = np.arange(3) # これはdatに何も起こさない。テンポラリなオブジェクトとしてdatのコピーが作られ、それにyが追加されている（多分）
dat

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

   x
0  1
1  1
2  2

In [5]:
dat["z"] = np.arange(3) # こちらが推奨されている
dat

   x  z
0  1  0
1  1  1
2  2  2

In [6]:
dat["s"] = "a" # これは、警告も出ないし、意図通りに動作している
dat

   x  z  s
0  1  0  a
1  1  1  a
2  2  2  a

# train_test_splitしたデータでの実験
train_test_splitによって分割されたデータで上の処理をすると、警告が出る、ということがあったので、再現するか実験してみる。
（再現はするが、原因は良くわからない）

In [10]:
dat2 = pd.DataFrame(dict(
    x=np.arange(10),
    y=[1]*5 + [0]*5
))

_TEST_SIZE = 0.4
_RANDOM_STATE = 1
_SHUFFLE = True
_STRATIFY = dat2.y

from sklearn.model_selection import train_test_split
learn, cv = train_test_split(
    dat2,
    test_size =  _TEST_SIZE,
    random_state = _RANDOM_STATE,
    shuffle = _SHUFFLE,
    stratify = _STRATIFY
)

In [11]:
learn["s"] = "a" # 警告が出るけど、列は追加されている・・
learn

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   x  y  s
9  9  0  a
0  0  1  a
2  2  1  a
6  6  0  a
4  4  1  a
7  7  0  a

# 手動で分割した場合にどうなるかを確かめる

In [25]:
dat3 = pd.DataFrame(dict(
    x=np.arange(10),
    y=[1]*5 + [0]*5
))

dat4 = dat3.iloc[:4,:]
dat5 = dat3.iloc[4:,:]

In [26]:
dat4["s"] = "a" # やはり警告は出る。列は追加されている
dat4

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   x  y  s
0  0  1  a
1  1  1  a
2  2  1  a
3  3  1  a

In [27]:
dat5.loc["s"] = "a" # locを使うと、"s"がindexと解釈されて、行追加される
dat5

   x  y
4  4  1
5  5  0
6  6  0
7  7  0
8  8  0
9  9  0
s  a  a

# 正しい方法は何なのか？

In [20]:
dat6 = pd.DataFrame(dict(
    x=np.arange(10),
    y=[1]*5 + [0]*5
))

dat7 = dat6.iloc[:4,:]
dat8 = dat6.iloc[4:,:]

In [29]:
dat9 = dat7.assign(s="a") # assignだと、列が追加されたコピーが返ってくる
dat7

   x  y
0  0  1
1  1  1
2  2  1
3  3  1

In [30]:
dat9

   x  y  s
0  0  1  a
1  1  1  a
2  2  1  a
3  3  1  a