In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(dict(    
    x=[1,2,3]
))

## フィルター

In [6]:
(
    df
    .query("x > 1")
)

   x
1  2
2  3

## 列追加

In [8]:
(
    df
    .assign(
        y=lambda df: df.x + 1,
        z=lambda df: df.x + df.y
    )
)

   x  y  z
0  1  2  3
1  2  3  5
2  3  4  7

## 列編集

In [12]:
(
    df
    .assign(
        x=lambda df: df.x + 1
    )
)

   x
0  2
1  3
2  4